<!DOCTYPE html>
<html>
    {% load staticfiles %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Uza Billet Facile</title>
        <link rel="stylesheet" href="{% static "themes/Bootstrap.css" %}">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <link rel="stylesheet" href="{% static "themes/jquery.mobile.icons.min.css" %}">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

        <style>
            .centered {
                text-align: center;
            }
            .a-page {
                background-color: #d5e3d9;
            }
            
        </style>
    </head>
    <body>
        <div data-role="page" id="homePage" class="a-page">
            <div data-role="header" data-position="fixed">
                <a href="index.html" data-icon="home">Home</a>
                <h1>Uza Ticket</h1>
                <a href="#" data-icon="info">Contact</a>
            </div>
            <div role="main" class="ui-content">
                <a href="{% url "rest_api:login" %}" data-role="button" data-theme="e" data-icon="action">Connectez-Vous</a>
                <div>
                    <p class="centered">
                        Vendez les tickets de votre &eacute;v&ecirc;nement ou achetez
                        votre billet de participation &agrave; un &eacute;v&ecirc;nement
                        en quelque clicks
                    </p>
                    <h3 class="centered">Cr&eacute;ez un compte promoteur</h3>
                    <div class="ui-grid-a ui-responsive">
                        <div class="ui-block-a"><a href="{% url 'rest_api:business_entities' %}" data-role="button" data-theme="d" data-icon="user">Compte Organization</a></div>
                        <div class="ui-block-b"><a href="#" data-role="button" data-theme="d" data-icon="user">Compte Personnel</a></div>
                    </div>
                    <h3 class="centered">Cr&eacute;ez un compte acheteur</h3>
                    <div class="ui-grid-solo">
                        <div class="ui-block-a"><a href="{% url 'rest_api:individual_buyers' %}" data-role="button" data-theme="d" data-icon="user">Compte Acheteur</a></div>
                    </div>
                </div>
                <!--<a href="#" data-role="button" data-theme="e" data-icon="action">Connectez-Vous</a>-->                                                                                                                                                                                                                                                                                                                                     
                <!--<p>
                    You can also <a href="#aboutPage">learn more</a> about Megacorp.
                </p>-->
            </div>
            <div data-role="footer" data-position="fixed">
                
                <h4>Copyright Uza-Ticket &copy; 2020</h4>
            </div>
        </div>

        <div data-role="page" id="aboutPage">
            <div data-role="header">
                <h1>About Megacorp</h1>
            </div>
            <div role="main" class="ui-content">
                <p>
                    This text talks about Megacorp and how interesting it is.
                    Most likely though you want to <a href="#homePage">return</a> 
                    to the home page.
                </p>
            </div>
            <div data-role="footer">
                <h4>Copyright Megacorp &copy; 2015</h4>
            </div>
        </div>
    </body>
</html>