<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Uza Billet Facile</title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    </head>
    <body>
        <div data-role="page" id="homePage">
            <div data-role="header">
                <a href="index.html">                                                                                                                                                                                                                                                                                                                                                                                                                                                                          </a>
                <h1>Welcome</h1>
            </div>
            <div role="main" class="ui-content">
                <p>
                    Vendez les billets de votre &eacute;v&ecirc;nement ou achetez
                    votre billet de participation &agrave; un &eacute;v&ecirc;nement
                    en quelque clicks
                </p>
                <a href="">Creez un Compte</a>                                                                                                                                                                                                                                                                                                                                     
                <p>
                    You can also <a href="#aboutPage">learn more</a> about Megacorp.
                </p>
            </div>
            
            <div data-role="footer">
                <h4>Copyright Megacorp &copy; 2015</h4>
            </div>
        </div>

        <div data-role="page" id="aboutPage">
            <div data-role="header">
                <h1>About Megacorp</h1>
            </div>
            <div role="main" class="ui-content">
                <p>
                    This text talks about Megacorp and how interesting it is.
                    Most likely though you want to <a href="#homePage">return</a> 
                    to the home page.
                </p>
            </div>
            <div data-role="footer">
                <h4>Copyright Megacorp &copy; 2015</h4>
            </div>
        </div>
    </body>
</html>